@import "utils.scss";

.path{
  img{
    width: 100vw;
  }
}

.blue-path-web{
  position: absolute;
  top: 0px;
  left: 95px;
  width: 751.56px !important;
  height: 230.83px;
}

.black-path-web{
  height: 731.43px;
  width: 100vw !important;
}

.circle-blue{
  position: absolute;
  top: 325px;
  z-index: 1000;
  left: -66px;
  background: $blue;
  border-radius: 100px;
  width: 132px;
  height: 132px;
  &:hover{
    background: $white;
    transform: scale(1.2);
  }
}

.first-intro{
  z-index: 1000;
  position: absolute;
  color: $white;
  top: 195px;
  line-height: 51px;
  text-align: center;
}

.weekend{
  height: 102px;
  font-size: $f62;
  font-weight: $weight-900;
}

.stay-active{
  line-height: 0px;
  font-style: italic;
  font-size: $f21;
}

.col-robots{
  position: absolute;
  top: 55vh;
}

.robots{
  margin-left: 250px;
  height: 305px;
  &:hover{
    transform: rotate(30deg);
  }
}


.img-help-intro{
  margin-left: 100px;
  width: 266px !important;
  height: 327px !important;
  transform: rotate(215deg);
  &:hover{
    transform: rotate(10deg);
    opacity: 0.3;
  }
}


.letsgo-section{
  font-weight: $weight-400;
  font-size: $f16;
  background-color: $white;
  width: 231px;
  height: 58px;
  border-radius: 29px;
  position: absolute;
  top: 86vh;
  left: 327px;
}

.letsgo{
  text-align: center;
  padding-top: 15px;
}

.slider-section{
  width: 650px;
  position: absolute;
  margin-top: 60px;
}

.card-slider{
  width: 257px;
  height: 140px;
  right: 32px;
  h3{
    font-weight: $weight-900;
    font-size: $f32;
    line-height: 37.5px;
    height: 38px;
  }
  p{
    font-weight: $weight-400;
    font-size: $f12;
    line-height: 14.06px;
    letter-spacing: -0.43px;
  }
}

@media screen and (max-width: $mobile-based) {
  .blue-path{
    display: block !important;
    top: 15px;
  }

  .black-path{
    display: block !important;
    height: 100vh;
  }

  .img-help-intro{
    display: none !important;
  }

  .black-path-web{
    display: none;
  }

  .blue-path-web{
    display: none;
  }

  .first-intro{
    top: 145px;
  }

  .weekend{
    font-size: $f52;
  }

  .stay-active{
    line-height: 50px;
    font-size: $f16;
  }

  .col-robots{
    top: 60vh;
  }

  .robots{
    margin: 0;
    height: 305px;
  }


  .letsgo-section{
    width: 231px;
    height: 55px;
    top: 93vh;
    left: 10px;
  }

  .slider-section{
    width: 380px;
  }

}

@media screen and (max-width: $web-based) {
  .blue-path{
    display: none !important;
  }

  .black-path{
    display: none;
  }

}