// colors
$cream: #eebece;
$blue: #0b24fb;
$black: #000000;
$white: #ffffff;
$pink: #ff8787;


// width pixel
$web-based: 1366px;
$mobile-based: 375px;

// font
$font-families: Work Sans, sans-serif;
$weight-900: 900;
$weight-700: 700;
$weight-600: 600;
$weight-500: 500;
$weight-400: 400;
$weight-300: 300;

// img width
$icons-header: 33px;

// font size
$f10: 10px;
$f12: 12px;
$f16: 16px;
$f21: 21px;
$f32: 32px;
$f36: 36px;
$f52: 52px;
$f62: 62px;